.message-box {
	width: 300px;
	height: 20px;
	border: 2px solid #000;
	margin-bottom: 10px;
	padding: 5px;
	background: no-repeat left;
}

.information {
		background-color: #BDE5F8;
		border-color: #00529B;
		color: #00529B;
		background-image: url(images/info.png);
}

.success {
		background-color: #DFF2BF;
		border-color: #4F8A10;
		color: #4F8A10;
		background-image: url(images/success.png);
}

.warning {
		background-color: #FEEFB3;
		border-color: #9F6000;
		color: #9F6000;
		background-image: url(images/warning.png);
}

.error {
		background-color: #FFBABA;
		border-color: #D8000C;
		color: #D8000C;
		background-image: url(images/error.png);
}